{% load static %}

<link rel="stylesheet" href="{% static 'ToDoList/style.css' %}">

<div id="myDIV" class="header">
    <h2 style="margin:5px">To Do List App</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="title" id="myInput" placeholder="Title...">
        <button type="submit" class="addBtn">Add</button>
    </form>
</div>

<ul id="myUL">
    {% for todo in todos reversed %}
    <li>{{todo.title | title}} <span class="close"><a style="text-decoration: none; color: black;"
                                                      href="delete/{{todo.id}}">Delete</a></span></li>
    {% endfor %}
</ul>