<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'dictionary/style.css' %}">
    <title>dictionary</title>
</head>

<body>
<div class="container">
    <form name="post-form" id="post-form">
        {% csrf_token %}
        <label>
            dictionary
        </label>
        <input type="text" name="word" id="word"/>
        <button type="submit">
            search
        </button>
    </form>
    <br>
    <div>
        <section id="section"><h2></h2></section>
    </div>
</div>
</body>


<script src="{% static 'dictionary/script.js' %}">

</script>